.sticky-top{
  background-color: #3EBFFF;
}
.menu a{
  color: white;
  font-family: fraunces, sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header-txt{
  position: relative;
  margin-bottom: -7px;
}

.header-txt img{
  display: block;
}
.hover:hover{
  background-color: rgba(107,209,252) !important;
  color: white !important;
  transition: ease-in-out;
}

.mobile-menu{
width: 300px;
height: 300px;
position: absolute;
left: 50%;
transform: translate( -50%, 0% );
background: white;
}

.mobile-menu{
  position: fixed;
  flex-direction: column;
  top:-100%;
  border-radius: 10px;
  text-align: center;
  transition: 0.6s;
  box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
}
.mobile-menu a{
color: hsl(210, 4%, 27%);
}

.active {
  top:10%;
}

.ham-menu{
cursor: pointer;
}

.creative-txt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -60% );
  font-family: fraunces, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 50px;
  color: white;
  text-transform: uppercase;
}



.down-arrow{
  -webkit-animation: action 1s infinite  alternate;
  animation: action 1s infinite  alternate;
  margin-top: 92px;
}
@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}



.brand-txt{
  font-size: 26px;
  font-family: fraunces, sans-serif;
  font-weight: 700;
  color: hsl(212, 27%, 19%);

}
.brand-txt-p{
  color: hsl(232, 10%, 55%);
  font-family: Barlow, sans-serif;
}
.brand-txt-a{
  position: relative;

}
.brand-txt-a a{
  font-family: fraunces, sans-serif;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
  border-bottom: 3px solid;

}

.egg-img{
  flex:50%;
}

.thumbnail{
  position: relative;
  margin-bottom: -7px;
}

.thumbnail img{
  display: block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, 0% );
}

.centered .photog{
  color: hsl(198, 62%, 26%);
}
.centered .graph{
  color: hsl(167, 40%, 24%);
}
.graph-hed {
  font-size: 9vw;
  font-family: fraunces, sans-serif;
  font-weight:700;
  color: hsl(167, 40%, 24%);

}
.centered .graph-txt{
  font-size: 4vw;
  line-height: 6vw;
  font-family: Barlow, sans-serif;
  color: hsl(167, 40%, 24%);

}

.photo-hed {
  font-size: 9vw;
  font-family: fraunces, sans-serif;
  font-weight:700;
  color: hsl(198, 62%, 26%);

}
.centered .photo-txt{
  font-size: 4vw;
  line-height: 6vw;
  font-family: Barlow, sans-serif;
  color: hsl(198, 62%, 26%);

}
.testimonials-txt{
  font-size: 14px;
  color: hsl(210, 4%, 67%);
  font-family: fraunces, sans-serif;
  font-weight: 700;
  letter-spacing: 4px;

}
.bio-txt{
margin-top: 20px;

font-size: 14px;
color: hsl(212, 27%, 19%);
font-family: Barlow, sans-serif;
padding:0 10px;
}
.name-txt{
  margin-top: 30px;
  font-size: 18px;
  color: hsl(212, 27%, 19%);
  font-family: fraunces, sans-serif;
}
.job-txt{
  font-size: 14px;
  color: hsl(210, 4%, 67%);
  font-family: Barlow, sans-serif;
  color: hsl(210, 4%, 67%);

}
.test-imgs{
margin-top: 40px;
width: 20%;
}



.sunnyfooter{
 background-color: rgb(142, 212, 190);

}
.sunnyfooter a{
font-family: Barlow, sans-serif;
color: hsl(168, 34%, 41%);
}

.row{
  margin: 0 0;
}

.flex-equal > * {
  flex: 1;
}



@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
.hide-img-desktop{
  display: none !important;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
.mobile-menu{
  display: none !important;
}
.creative-txt{
  width: 100%;
}
.brand-txt{
  font-size: 4vw;
  font-family: fraunces, sans-serif;
  font-weight: 700;
  padding-right:  0px !important;
}
.brand-txt-p{
  font-size: 1.5vw;
  font-family: Barlow, sans-serif;
  margin-left: 22px;
}
.brand-txt-a {
  font-size: 1.5vw;
  font-family: Barlow, sans-serif;
  margin-left: 10px;
}

.brand-cont{
  margin-top: 60px !important;
  text-align: left;
}
.test-cont{
  padding: 100px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, 0% );
}
.graph-hed {
  margin-top: 30px !important;

  font-size: 2vw;
  font-family: fraunces, sans-serif;
  font-weight:700;
}
.centered .mt-5{
  margin-top: 0 !important;
}
.centered .graph-txt{
  font-size: 1.2vw;
  line-height: 2vw;
  font-family: Barlow, sans-serif

}

.photo-hed {
  font-size: 2vw;
  font-family: fraunces, sans-serif;
  font-weight:700;

}

.centered .photo-txt{
  font-size: 1.2vw;
  line-height: 2vw;
  font-family: Barlow, sans-serif

}

.hide-img-desktop{
  display: inline-block !important;
}

.show-img-mobile{
  display: none !important;
}

}
@media (min-width: 1024px) {


.brand-cont{
  margin-top: 90px !important;
  text-align: left;
}
}

@media (min-width: 1450px) {


.brand-cont{
  margin-top: 200px !important;
  text-align: left;
}
}
@media (min-width: 1920px) {


.brand-cont{
  margin-top: 250px !important;
  text-align: left;
}
}
@media (min-width: 2200px) {


.brand-cont{
  margin-top: 300px !important;
  text-align: left;
}
}
